* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins';
    height: auto;              
    min-height: 450px;         
    margin: 0;                 
    padding: 30px 0;           
}


h1 {
    font-weight: 600;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: .85rem;
    font-weight: 200;
    line-height: 1.25rem;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: .75rem;
}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    transition: 0.1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.container {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25),
                0 10px 10px rgba(0, 0, 0, .22);
    width: 768px;
    max-width: 95%;
    min-height: 450px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 9999;
}

.show-popup .container {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
}


.social {
    color: #333333;
    font-size: .85rem;
    text-decoration: none;
    margin: 15px 0;
}

.log-button, .ghost {
    border-radius: 20px;
    border: 1px solid #27CDA7;
    background-color: #27CDA7;
    color: #FFFFFF;
    font-size: .75rem;
    font-weight: 500;
    padding: 0.75rem 2.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .25s ease-in;
    cursor: pointer;
}

.log-button:hover {
    background-color: #37DFB8;
}

.log-button:active, .ghost:active {
    transform: scale(.95);
}

.log-button:focus, .ghost:focus {
    outline: none;
}

.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.form-con {
    background-color: white;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.insert {
    background-color: #EEEEEE;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;              
    max-height: 100%;          
    transition: all .5s ease-in-out;
}

.login-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .login-container {
    transform: translateX(100%);
}

.signup-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .signup-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show .5s;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

@keyframes show {
    0%, 49.99% { opacity: 0; z-index: 1; }
    50%, 100% { opacity: 1; z-index: 5; }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all .5s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: linear-gradient(to right, #37DFB8, #E87B37, #E8375A);
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform .5s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform .5s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

@media (max-width: 730px) {
    h1 { font-size: 1.2rem; }
}

main, .hero, .books-grid, .discover-gallery {
    position: relative;
    z-index: 1;
}
